/* ============================= DESKTOP VERSION ============================= */
#appMainContainer {
  background-image: url(../images/fs_mr_smalls.jpg);
  background-size: cover;
  height: 789px;
  width: 100%;
}

hr {
  width: 180px;
}
/* ________________________________ TOPMENU ________________________________ */
#topMenuMainContainerMOBILE {
  display: none;
}

#topMenuMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px 0 50px;
}

#topMenuTitle {
  font-family: 'Vollkorn SC', serif;
  cursor: pointer;
  color: white;
  font-size: 37px;
  font-weight: bold;
  text-decoration: overline underline;
}

.topMenuNav {
  font-family: 'Vollkorn SC', serif;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

/* ------------------------------------------------------------------------- */

/* ********************************** HOME ********************************** */
#homeTitle {
  font-family: 'Playfair Display SC', serif;
  color: white;
}

/* -------------------------------------------------------------------------- */

/* ********************************* ABOUT ********************************* */
#aboutUsTitle {
  font-family: 'Playfair Display SC', serif;
  color: white;
}

/* -------------------------------------------------------------------------- */

/* ********************************* SOCIAL ********************************* */
#socialTitle {
  font-family: 'Playfair Display SC', serif;
  color: white;
}


/* -------------------------------------------------------------------------- */

/* ********************************** TOUR ********************************** */
#tourTitle {
  font-family: 'Playfair Display SC', serif;
  color: white;
}


/* -------------------------------------------------------------------------- */

/* ********************************* MERCH ********************************* */
#merchTitle {
  font-family: 'Playfair Display SC', serif;
  color: white;
}


/* -------------------------------------------------------------------------- */

/* ========================================================================== */


/* ============================= TABLET VERSION ============================= */
@media (min-width: 426px) and (max-width: 768px) {
#appMainContainer {
  background-image: url();
  background-size: cover;
}

/* ________________________________ TOPMENU ________________________________ */
#topMenuMainContainer {

}

#topMenuTitle {

}

.topMenuNav {

}

/* ------------------------------------------------------------------------- */

/* ********************************** HOME ********************************** */
#homeTitle {

}

/* -------------------------------------------------------------------------- */

/* ********************************* ABOUT ********************************* */
#aboutUsTitle {

}

/* -------------------------------------------------------------------------- */

/* ********************************* SOCIAL ********************************* */
#socialTitle {

}


/* -------------------------------------------------------------------------- */

/* ********************************** TOUR ********************************** */
#tourTitle {

}


/* -------------------------------------------------------------------------- */

/* ********************************* MERCH ********************************* */
#merchTitle {

}


/* -------------------------------------------------------------------------- */

}
/* ========================================================================== */


/* ============================= MOBILE VERSION ============================= */
@media (max-width: 426px) {
#appMainContainer {
  background-image: url(../images/fs_mr_smalls_MOBILE.jpg);
  background-size: cover;
  max-width: 426px;
}

.hrMOBILE {
  width: 30px;
}
/* ________________________________ TOPMENU ________________________________ */
#topMenuMainContainer {
  display: none;
}

#topMenuMainContainerMOBILE {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 50px 0 50px;
}

#topMenuNavContainerMOBILE {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px 0 50px;
}

#topMenuTitleMOBILE {
  font-family: 'Vollkorn SC', serif;
  cursor: pointer;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: overline underline;
}

.topMenuNavMOBILE {
  font-family: 'Vollkorn SC', serif;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

/* ------------------------------------------------------------------------- */

/* ********************************** HOME ********************************** */
#homeTitle {

}

/* -------------------------------------------------------------------------- */

/* ********************************* ABOUT ********************************* */
#aboutUsTitle {

}

/* -------------------------------------------------------------------------- */

/* ********************************* SOCIAL ********************************* */
#socialTitle {

}


/* -------------------------------------------------------------------------- */

/* ********************************** TOUR ********************************** */
#tourTitle {

}


/* -------------------------------------------------------------------------- */

/* ********************************* MERCH ********************************* */
#merchTitle {

}


/* -------------------------------------------------------------------------- */

}
/* ========================================================================== */
